@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
    --border-color: rgba(222, 222, 230, 1);
    --bus-icon-green: rgba(39, 174, 96, 1);
  
    --font-primary: "Roboto", sans-serif;
  
    --font-color-black: rgba(73, 80, 87, 1);
    --font-color-white: rgba(255, 255, 255, 1);
  }
  
  * {
    box-sizing: border-box;
  }